@model CreateQuote

<link rel="stylesheet" href="~/css/gino's css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/gino's css/mdb.min.css">
<link rel="stylesheet" href="~/css/fontawesome.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<!-- JQuery -->

<script src="~/js/gino's js/jquery-3.4.1.min.js"></script>
<script src="~/js/jquery.form.min.js"></script>
<!-- add dynamic fields -->
<script>
        var url = "@Url.Action("CreatePost","Quotes")";
</script>
<script type="text/javascript" src="~/js/homescript.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!--pop up new quote-->
<div class="modal fade" id="createQuote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <form id="CreateQuote" asp-action="CreatePost" asp-controller="Quotes">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Create a New Quote</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="DateQuoted" hidden value="2018-06-12T19:30" />
                    <span asp-validation-for="Creator" class="text-danger"></span>
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input asp-for="Creator" type="text" id="Creator" class="form-control validate">
                        <label asp-for="Creator" data-error="invalid" data-success="valid" for="form34">Quote Creator</label>
                    </div>
                    <span asp-validation-for="OrderNum" class="text-danger"></span>
                    <div class="md-form mb-5">
                        <i class="fas fa-hashtag prefix grey-text"></i>
                        <input asp-for="OrderNum" type="text" id="OrderNum" class="form-control validate">
                        <label asp-for="OrderNum" data-error="invalid" data-success="valid" for="form34">Order Number</label>
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div class="md-form mb-5 form-group">
                        <i class="fas fa-address-card prefix grey-text"></i>
                        <input asp-for="Name" type="text" id="Name" class="form-control validate">
                        <label asp-for="Name" data-error="invalid" data-success="valid" for="form29">Quote Name</label>
                    </div>
                    <span asp-validation-for="ShapesCount" class="text-danger"></span>
                    <div class="md-form mb-5">
                        <i class="fas fa-shapes prefix grey-text"></i>
                        <input asp-for="ShapesCount" type="number" value="0" min="1" id="ShapesCount" class="form-control validate" onchange="addFields(this.value)">
                        <label asp-for="ShapesCount" data-error="invalid" data-success="valid" for="form32">Number of shapes</label>
                    </div>
                    <span asp-validation-for="LegsInShapes" class="text-danger"></span>
                    <div class="md-form col-mb-1" id="shapes">
                    </div>
                    <div class="row" hidden>

                        <!-- Grid column -->
                        <div class="col-md-4 mb-4">

                            <div class="md-form">
                                <input type="text" id="form1" class="form-control">
                                <label for="form1" class="">Basic example</label>
                            </div>

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 mb-4">

                            <div class="md-form form-sm">
                                <input type="text" id="form2" class="form-control form-control-sm">
                                <label for="form2" class="">Small input</label>
                            </div>

                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 mb-4">

                            <div class="md-form">
                                <input placeholder="Placeholder" type="text" id="form3" class="form-control">
                                <label for="form3" class="active">Example label</label>
                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>

                    <!-- Use Functions this took 2 hours to do-->
                    <span asp-validation-for="UseFormulas" class="text-danger"></span>
                    <fieldset class="form-check">
                        <input asp-for="UseFormulas" class="form-check-input" type="checkbox" id="checkbox1" checked="checked">
                        <label asp-for="UseFormulas" class="form-check-label" for="checkbox1">Use Formulas</label>
                    </fieldset>
                    <div class="md-form" hidden>
                        <i class="fas fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                        <label data-error="wrong" data-success="right" for="form8">Comments</label>
                    </div>

                </div>

                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-primary" id="CreateQuoteBtn" type="submit">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>


