
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<style>
    .title {
        font-family: "Comic Sans MS", cursive, sans-serif;
        color: red;
        position: fixed;
    }

    img {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }
</style>

<img src="~/img/Michael-scott-no-god-no.gif" alt="Michael Screaming" />

<h1 class="title text-center">We have not finished this page yet :)</h1>

