@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p><a href="~/img/CapstoneTeme2.png">this</a></p>

<p>
    Dane Woods <br />
    danemckaewoods@gmail.com
</p>
<hr />

<p>
    Gino Betetta <br />
    ginobetetta@gmail.com
</p>
<hr />

<p>
    Jacob Felten <br />
    jacobdfelten@gmail.com
</p>
<hr />

<p>
    Jeffrey Walters <br />
    jeffw773@gmail.com
</p>