@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<style>
    #egg {
        color: black;
    }

    #egg:hover {
        color: black;
        text-decoration: none;
    }
</style>

<p>The following <a id="egg" href="~/img/CapstoneTeme2.png">
    developers</a> made this website for their capstone computer programming
    class at Lane Community College while consulting Jared Falk of Masons Supply Company.
</p>

<p>
    Dane Woods <br />
    danemckaewoods@gmail.com
</p>
<hr />

<p>
    Gino Betetta <br />
    ginobetetta@gmail.com
</p>
<hr />

<p>
    Jacob Felten <br />
    jacobdfelten@gmail.com
</p>
<hr />

<p>
    Jeffrey Walters <br />
    jeffw773@gmail.com
</p>