@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p><a href="https://lh3.googleusercontent.com/proxy/lXdrR4Wivi9AnfFmEDZSHrpG35ozp65H7Ay4z_qn48C97fPYudh61mVxPNc4dqWZYXuWT9V_QsC8lmhSAGb41UaOeGB0vCFQYdKq4NnkJr1TTctWigQp-9Iqa0RFqm9FUjYerLlPyJcyB0L-DHODWQdrvVvSRJcTjRjsd5p1vVDmsIzrd7ghy8c0PiRmjw0">this</a></p>
