@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size: x-small">don't click <a href="~/img/CapstoneTeme2.png">this</a></p>

<p>The following developers made this website for their capstone computer programming
    class at Lane Community College while consulting Jared Falk of Masons Supply Company.</p>

<p>
    Dane Woods <br />
    danemckaewoods@gmail.com
</p>
<hr />

<p>
    Gino Betetta <br />
    ginobetetta@gmail.com
</p>
<hr />

<p>
    Jacob Felten <br />
    jacobdfelten@gmail.com
</p>
<hr />

<p>
    Jeffrey Walters <br />
    jeffw773@gmail.com
</p>