@model CreateQuote

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .div-wrapper {
        /*height: 200px;*/
        margin-top: 10px;
        /*border: 2px inset #ddd;*/
        border-radius: 8px;
    }

    .div-to-align {
        /* width: 75%;*/
        padding: 40px 20px;
        /* .... */
    }
</style>
<!-- JQuery -->

<script src="~/js/gino's js/jquery-3.4.1.min.js"></script>
<script src="~/js/jquery.form.min.js"></script>
<!-- add dynamic fields -->
<script>
    var url = "@Url.Action("CreatePost","Quotes")";
    var pricesUrl = "@Url.Action("GlobalCosts", "Costs")";
</script>
<script type="text/javascript" src="~/js/homescript.js"></script>
@await Html.PartialAsync("~/Views/Shared/_PartialPopUp.cshtml", Model)

<div class="text-center">
    <div id="ShowPopUp" hidden>@ViewBag.ShowPopUp</div>
    <h1 class="display-4" hidden>Masons' Order and Formula Tracker</h1>
    <div class="section-1-container section-container">
        <div class="container">
            <div class="row">
                <div class="col section-1 section-description">
                    <h1>Masons' Order and Formula Tracker</h1>
                    <div class="divider-1"><span></span></div>
                    <p>Under Construction</p>
                </div>
            </div>
            <!--Banner for prices alert-->
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                 id="barPricesBanner">
                <script type="text/javascript">
                    alertPricesBanner();
                </script>
                <strong>
                    Dwight you ignorant slut!
                </strong> The bar prices have not changed for 2 weeks.
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--Banner for prices alert-->
            <div class="row">
                <div class="col-12 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary" asp-controller="Quotes" asp-action="Create" data-toggle="modal" data-target="#createQuote">
                        <div class="div-to-align text-white font-weight-bold" style="padding: 35px 55px 40px 55px">
                            <h5>New Quote</h5>
                        </div>
                    </a>
                </div>
                <div class="col-12 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary" asp-controller="Quotes" asp-action="Index">
                        <div class="div-to-align text-white font-weight-bold">
                            <h5>View Open Quotes/Orders</h5>
                        </div>
                    </a>
                </div>
                <div class="col-12 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary" asp-controller="Quotes" asp-action="Closed">
                        <div class="div-to-align text-white font-weight-bold">
                            <h5>View Closed Quotes</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
