@{
    ViewData["Title"] = "Home Page";
}
<style>
    .div-wrapper {
        /*height: 200px;*/
        margin-top: 10px;
        /*border: 2px inset #ddd;*/
        border-radius: 8px;
    }

    .div-to-align {
        /* width: 75%;*/
        padding: 40px 20px;
        /* .... */
    }
</style>


<link rel="stylesheet" href="~/css/gino's css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/gino's css/mdb.min.css">
<link rel="stylesheet" href="~/css/fontawesome.css">
<!--add legs-->
<script type="text/javascript" src="~/js/addlegs.js"></script>
<!-- JQuery -->
<script src="~/js/gino's js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js"></script>
<script>
</script>

<div class="text-center">
    <h1 class="display-4" hidden>Masons' Order and Formula Tracker</h1>

    <div class="section-1-container section-container">
        <div class="container">
            <div class="row">
                <div class="col section-1 section-description">
                    <h1>Masons' Order and Formula Tracker</h1>
                    <div class="divider-1"><span></span></div>
                    <p>Under Construction</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary" asp-controller="Quotes" asp-action="Create" data-toggle="modal" data-target="#newContactForm">
                        <div class="div-to-align text-white font-weight-bold" style="padding: 35px 55px 40px 55px">
                            <h5>New Quote</h5>
                        </div>
                    </a>
                </div>
                <div class="col-12 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary" asp-controller="Quotes" asp-action="Index">
                        <div class="div-to-align text-white font-weight-bold">
                            <h5>View Open Quotes</h5>
                        </div>
                    </a>
                </div>
                <div class="col-12 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
                    <a class="btn btn-primary" asp-controller="Quotes" asp-action="Deleted">
                        <div class="div-to-align text-white font-weight-bold">
                            <h5>View Closed Quotes</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--pop up new quote-->
<div class="modal fade" id="newContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create a New Quote</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="form34" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form34">Quote Creator</label>
                </div>

                <div class="md-form mb-5 form-group">
                    <i class="fas fa-address-card prefix grey-text"></i>
                    <input type="text" id="form29" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="form29">Quote Name</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-shapes prefix grey-text"></i>
                    <input type="number" value="0" id="form32" class="form-control validate" onchange="addFields(this.value)">
                    <label data-error="wrong" data-success="valid" for="form32">Number of shapes</label>
                </div>

                <div class="md-form col-mb-1" id="shapes">
                </div>
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 mb-4">

                        <div class="md-form">
                            <input type="text" id="form1" class="form-control">
                            <label for="form1" class="">Basic example</label>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 mb-4">

                        <div class="md-form form-sm">
                            <input type="text" id="form2" class="form-control form-control-sm">
                            <label for="form2" class="">Small input</label>
                        </div>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 mb-4">

                        <div class="md-form">
                            <input placeholder="Placeholder" type="text" id="form3" class="form-control">
                            <label for="form3" class="active">Example label</label>
                        </div>

                    </div>
                    <!-- Grid column -->

                </div>

                <!-- Use Functions this took 2 hours to do-->
                <fieldset class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkbox1" checked="checked">
                    <label class="form-check-label" for="checkbox1">Use Formulas</label>
                </fieldset>
            </div>

            <div class="md-form">
                <i class="fas fa-pencil prefix grey-text"></i>
                <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
                <label data-error="wrong" data-success="right" for="form8">Comments</label>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-primary">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
        </div>
    </div>
</div>