@model GlobalCosts

@{
    ViewData["Title"] = "GlobalCosts";
}

<h1>Prices and Fees</h1>

<form method="post" asp-action="UpdateGlobalCosts">
	<table class="table">
		<thead>
			<tr>
				<th>
					Bar #
				</th>
				<th>
					Bar Cost
				</th>
				<th>
					Bend Cost
				</th>
				<th>
					Cut Cost
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>
					#3
				</th>
				<th>
					<input asp-for="Bar3GlobalCost" placeholder="Bar3GlobalCost" class="form-control" />
				</th>
				<th>
					<input asp-for="Bar3BendCost" placeholder="Bar3BendCost" class="form-control" />
				</th>
				<th>
					<input asp-for="Bar3CutCost" placeholder="Bar3CutCost" class="form-control" />
				</th>
			</tr>
			<tr>
				<th>
					#4
				</th>
				<th>
					<input asp-for="Bar4GlobalCost" placeholder="Bar4GlobalCost" class="form-control" />
				</th>
				<th>
					<input asp-for="Bar4BendCost" placeholder="Bar4BendCost" class="form-control" />
				</th>
				<th>
					<input asp-for="Bar4CutCost" placeholder="Bar4CutCost" class="form-control" />
				</th>
			</tr>
			<tr>
				<th>
					#5
				</th>
				<th>
					<input asp-for="Bar5GlobalCost" placeholder="Bar5GlobalCost" class="form-control" />
				</th>
				<th>
					<input asp-for="Bar5BendCost" placeholder="Bar5BendCost" class="form-control" />
				</th>
				<th>
					<input asp-for="Bar5CutCost" placeholder="Bar5CutCost" class="form-control" />
				</th>
			</tr>
			<tr>
				<th>
					#6
				</th>
				<th>
					<input asp-for="Bar6GlobalCost" placeholder="Bar6GlobalCost" class="form-control" />
				</th>
				<th>
					<input asp-for="Bar6BendCost" placeholder="Bar6BendCost" class="form-control" />
				</th>
				<th>
					<input asp-for="Bar6CutCost" placeholder="Bar6CutCost" class="form-control" />
				</th>
			</tr>
		</tbody>
	</table>

	<table class="table">
		<thead>
			<tr>
				<th>
					Setup Charge
				</th>
				<th>
					Setup Minimum Cost
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>
					<input asp-for="SetupCharge" placeholder="SetupCharge" class="form-control" />
				</th>
				<th>
					<input asp-for="MinimumOrderCost" placeholder="MinimumOrderCost" class="form-control" />
				</th>
			</tr>
		</tbody>
	</table>

    <input type="submit" class="btn btn-light text-center" asp-action="UpdateGlobalCosts"/>
</form>
